# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/

# Compilados y builds (Vite / React)
dist/
dist-ssr/
build/
coverage/

# Variables de entorno
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Editor de código
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operativo y archivos basura
.DS_Store
Thumbs.db

# Despliegues / Servicios
.vercel/

# TypeScript build info
*.tsbuildinfo